[submodule "minera-bin/src/cpuminer-gc3355"]
	path = minera-bin/src/cpuminer-gc3355
	url = https://github.com/siklon/cpuminer-gc3355.git
[submodule "minera-bin/src/bfgminer"]
	path = minera-bin/src/bfgminer
	url = https://github.com/luke-jr/bfgminer
[submodule "minera-bin/src/cgminer"]
	path = minera-bin/src/cgminer
	url = https://github.com/ckolivas/cgminer
[submodule "minera-bin/src/cgminer-dmaxl-zeus"]
	path = minera-bin/src/cgminer-dmaxl-zeus
	url = https://github.com/dmaxl/cgminer/
