/**
 * All your custom CSS should go into this file
 */
.padding-vert { padding-bottom: 20px;}
.margin-bottom { margin-bottom: 20px;}
.knob-label { font-size: 10pt !important;}
.devs_table_foot { background: #666; color: #fff;}
.box.box-gold { border-top-color: #e6cc64;}
.box.box-dark { border-top-color: #666;}
.box.box-light { border-top-color: #ddd;}
.nav .caret { border-top-color: #434343; border-bottom-color: #434343; }
.nav .open>a, .nav .open>a:hover, .nav .open>a:focus { background-color: #eee !important; border-color: #434343;}
.skin-black .navbar .nav > li > a:hover {background: #999; }
.bg-dark-grey { background-color: #333 !important;  color: #f9f9f9 !important; }
.bg-dark { background-color: #666 !important;  color: #fff !important; }
.bg-light { background-color: #f0f0f0 !important; color: #434343 !important; }
.bg-light >.box-header { color: #434343 !important;}
.bg-really-black {background-color: #000;}
.navbar-nav > .user-menu > .dropdown-menu > li.user-body { padding: 25px 15px 20px !important; }
.pass-form { padding-left: 90px;}
.box > .loading-img { background: transparent url('../img/ajax-loader.gif') 50% 50% no-repeat !important;}
.more-line-height {line-height: 1.8em;}
.warning-section { display: none;}
body > .header .navbar .nav > li > a > .label { padding: 3px !important; }
.row-btn-options { margin: 15px 0;}
.label-white { background-color: #f7f7f7; color: #434343; }
.label-muted { background-color: #f7f7f7; color: #999; }
.label-light { background-color: #E0E0E0; color: #7a7a7a; }
.label-dark { background-color: #434343; color: #f7f7f7; }
.small-box h4 { font-size: 28px; font-weight: bold; margin: 0 0 10px 0; white-space: nowrap; padding: 0; }
.log-box { font-size: 11px; min-height: 220px; overflow: hidden;}
.sidebar { position: fixed; width: 220px; }
body > .header { position: fixed !important; }
.right-side { margin-top: 60px; }
.donation-pool { background: #E2EDF0; color: #99A5A8; }
.callout.callout-grey { background-color: #F3F3F3; border-color: #ed5565; }
.section-raw-stats { display: none;}
.modal-dialog-center { margin-top: 15%;}
.modal-terminal { margin-top: 5%; width: 75%; }
.modal-footer-center { margin: 0; padding: 6px 20px !important; text-align: center;}
.font-bold { font-weight: bold;}

.lockscreen {background: url(../img/bg-dark.jpg) repeat center center fixed !important;}
.lockscreen-link, .lockscreen-name { color: #fff;}
.lockscreen .headline { color: #ccc !important;}

.tip-button { float: left; padding: 9px 5px; margin-top: 4px; margin-right: 0; margin-bottom: 8px; margin-left: 5px; }
.coinbase-donate-button { }
.copyright { float: right; margin-right: 20px; font-size: small;}
.copyright a { color: #FF4D50; }

.bootstro-highlight { background-color: rgba(255, 255, 255, 0.2) !important; }

@media all and (max-width : 960px) { 
	.messages-menu { display: none !important;}
}

@media all and (max-width : 1090px) { 
	.tip-button { display: none;}
}
